*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style-type: none;
}


body {
    background: rgb(83, 1, 184);
}

.main {
    margin-bottom: 30px;
    text-align: center;
}

.main_btn {
    margin-top: 30px;
    text-align: center;
}

.heading {
    font-size: 70px;
    text-align: center;
    color: #fff;
    margin-bottom: 210px;
    text-transform: uppercase;
    margin-top: 50px;
}

.hour ,.min ,.sec{
    font-size: 200px;
    color: #fff;
}

.count{
    font-size: 80px;
    color: #fff;
    margin-left: 30px;
}

.txt {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.start {
    background: green;
    color: #fff;
    font-size: 24px;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: inline-block;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.start:hover {
    background: rgb(28, 152, 28);
}

.stop {
    background: brown;
    color: #fff;
    font-size: 24px;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: inline-block;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    margin: 0 20px;
}

.stop:hover {
    background: rgb(199, 30, 30);
}
.reset {
    background: rgb(4, 143, 241);
    color: #fff;
    font-size: 24px;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: inline-block;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.reset:hover {
    background: rgb(76, 170, 237);
}

.color {
    width: 30px;
    height: 30px;
    background: red;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.color_wheel {
    margin-left: 34%;
}

.color_wheel .color {
    margin-right: 10px;
}

.color_heading {
    font-size: 35px;
    text-align: center;
    color: #fff;
    margin-top: 80px;
    padding-bottom: 30px;
}